[build]
  command = "npm install --force && node build-script.js"
  publish = "dist"
  environment = { NODE_VERSION = "20" }

[[redirects]]
  from = "/"
  to = "/pt/"
  status = 302
  conditions = {Language = ["pt", "pt-BR"]}

[[redirects]]
  from = "/"
  to = "/en/"
  status = 302
  conditions = {Language = ["en", "en-US", "en-GB"]}

[[redirects]]
  from = "/"
  to = "/es/"
  status = 302
  conditions = {Language = ["es", "es-ES", "es-MX", "es-AR"]}

[[redirects]]
  from = "/"
  to = "/pt/"
  status = 302
  force = false

# Outras regras de redirecionamento (se houver)

